@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic&subset=latin,cyrillic);
body {
  font-family: 'Open Sans', Times, Helvetica, Arial, sans;
  font-size: 16px;
  color: #F0F0F0; }

a {
  text-decoration: none;
  color: #fff; }

#main-wrapper {
  width: 100%;
  position: relative; }

#wrapper-nav,
#wrapper-portfolio,
#wrapper-about,
#wrapper-contacts {
  width: 100%;
  background-image: linear-gradient(to bottom, #260338, #3D1154); }

#border {
  width: 100%;
  height: 20px;
  background: #260338;
  background-image: linear-gradient(to top right, transparent 50.5%, #3D1154 50.5%), linear-gradient(to top left, transparent 50.5%, #3D1154 50.5%);
  background-repeat: repeat-x, repeat-x;
  background-position: 0 0, 0 0;
  background-size: 20px 20px, 20px 20px; }

#wrapper-nav {
  background: #160121;
  position: fixed;
  height: 50px;
  z-index: 5;
  border-bottom: 2px solid gray; }

#wrapper-portfolio {
  padding-top: 50px; }

#nav,
#portfolio,
#about,
#contacts {
  position: relative;
  width: 960px;
  margin: 0 auto; }

.main-menu {
  margin: 0;
  padding: 0;
  width: 960px;
  height: 50px;
  line-height: 30px;
  text-align: right; }
  .main-menu li {
    display: inline-block; }
    .main-menu li a {
      display: block;
      text-transform: uppercase;
      padding: 0px 20px;
      line-height: 50px;
      font-weight: bold; }
      .main-menu li a:hover {
        background: #fff;
        color: #260338; }
      .main-menu li a:active {
        background: #fff;
        color: #260338; }

.works {
  padding-top: 0px; }
  .works .work {
    float: left;
    width: 50%;
    height: 300px; }
    .works .work .site img {
      float: left;
      width: 150px;
      height: 100px;
      border: 1px solid gray;
      border-radius: 5px;
      margin: 0 20px; }

.skills {
  padding: 20px 0; }
  .skills .title {
    border: 1px solid #260338;
    text-align: center; }
  .skills .column1,
  .skills .column2 {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 20px; }
    .skills .column1 li,
    .skills .column2 li {
      list-style-image: url(/img/icon-tick.png); }
  .skills .column2 {
    width: 50%; }

.write-me {
  padding-top: 20px; }
  .write-me .title {
    text-align: center; }
  .write-me .column {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 20px; }
    .write-me .column label {
      display: block;
      margin: 20px 0 10px 0; }
    .write-me .column input {
      box-sizing: border-box;
      display: block;
      width: 100%;
      height: 40px;
      border-radius: 5px; }
      .write-me .column input[type="area"] {
        height: 150px; }
      .write-me .column input[type="submit"] {
        box-sizing: border-box;
        height: 50px;
        margin-top: 30px;
        border: 2px solid #260338;
        font-weight: bold;
        color: #260338;
        background: linear-gradient(to bottom, #ebc402, #ba9d0b); }
    .write-me .column .icon {
      padding-left: 35px;
      height: 25px;
      margin: 5px 0; }
      .write-me .column .icon:before {
        display: inline-block;
        width: 25px;
        height: 25px;
        outline: 1px solid red; }
    .write-me .column .email {
      background: url("http://portfolio-rakov.ru/img/icon-email.png") no-repeat; }
    .write-me .column .skype {
      background: url("http://portfolio-rakov.ru/img/icon-skype.png") no-repeat; }
    .write-me .column .icq {
      background: url("http://portfolio-rakov.ru/img/icon-icq.png") no-repeat; }

.clearfix:after {
  content: '';
  display: block;
  clear: both; }

/*# sourceMappingURL=style.css.map */
