/* VARIABLES */
/*MIXINS*/
/* FONTS */
/* COMMON STYLES */
body {
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 18pxpx;
  font-size: 1rem;
  color: #fff;
  background: #000; }

a {
  text-decoration: none;
  color: #fff; }
  a:hover {
    color: #f2462e; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Subrayada', Helvetica, Arial, serif;
  font-weight: bold;
  text-transform: uppercase; }

h1 {
  font-size: 63pxpx;
  font-size: 3.5rem; }

h2 {
  font-size: 43.2pxpx;
  font-size: 2.4rem; }

h3 {
  font-size: 25.2pxpx;
  font-size: 1.4rem;
  font-weight: normal;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif; }

h4 {
  font-size: 21.6pxpx;
  font-size: 1.2rem;
  font-weight: normal;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif; }

/* MAIN LAYOUT */
.wrapper-all {
  width: 100%; }

.wrapper-header-outer {
  width: 100%; }

.wrapper-header-inner {
  width: 100%; }

.wrapper-welcome-outer {
  width: 100%;
  background: #f2462e; }

.wrapper-welcome-inner {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto; }

.wrapper-about-outer {
  width: 100%;
  background: #fff; }

.wrapper-about-inner {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto; }

.wrapper-footer-outer {
  width: 100%; }

.wrapper-footer-inner {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto; }

/* MAIN STYLES */
/* BEGIN top-panel */
.top-panel {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 100px 60px 0;
  outline: 5px solid red;
  z-index: 2; }

.top-panel_logo {
  float: left;
  outline: 2px dashed green; }

.top-panel_logo_title {
  display: table-cell;
  height: 100px;
  vertical-align: middle; }
  .top-panel_logo_title:before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    vertical-align: middle;
    border-radius: 25px;
    background: #f2462e; }

.top-panel_nav {
  float: right;
  outline: 2px dashed green; }

.top-panel_nav_menu {
  display: table-cell;
  height: 100px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: 2px solid orange; }

.top-panel_nav_menu_item {
  display: inline-block;
  padding-right: 60px;
  outline: 2px solid blue; }

.top-panel_nav_menu_item:last-child {
  padding-right: 0px; }

.top-panel_nav_menu_item_link {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  transition: color 0.5s; }
  .top-panel_nav_menu_item_link:hover, .top-panel_nav_menu_item_link.active {
    color: #f2462e; }

.top-panel_nav_menu_item_has-submenu {
  position: relative;
  outline: 2px solid maroon; }

.top-panel_nav_menu_item_submenu {
  position: absolute;
  left: 0;
  top: 100%;
  margin: 40px 0 0;
  padding: 20px 0;
  list-style-type: none;
  background: gray;
  outline: 2px solid blue; }

.top-panel_nav_menu_item_submenu_subitem a {
  display: block;
  padding: 15px 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff; }
  .top-panel_nav_menu_item_submenu_subitem a:hover {
    color: #f2462e; }

/* END top-panel */
/* BEGIN SLIDESHOW */
.slideshow {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%; }
  .slideshow_banners {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1; }
    .slideshow_banners .banner {
      position: relative;
      left: 0px;
      top: 0px;
      display: block;
      width: 100%;
      opacity: 0;
      -webkit-transition: 1s opacity;
      -moz-transition: 1s opacity;
      -ms-transition: 1s opacity;
      -o-transition: 1s opacity;
      transition: 1s opacity; }
    .slideshow_banners .banner_active {
      opacity: 1; }
  .slideshow_captions {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2; }
    .slideshow_captions .caption {
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: 0px;
      width: 100%;
      text-align: center;
      opacity: 0;
      -webkit-transition: 1s opacity;
      -moz-transition: 1s opacity;
      -ms-transition: 1s opacity;
      -o-transition: 1s opacity;
      transition: 1s opacity;
      outline: 10px solid green; }
    .slideshow_captions .caption_active {
      opacity: 1; }
  .slideshow_arrows .arrow-left {
    position: absolute;
    top: 50%;
    left: 10px;
    height: 100%;
    width: 18px;
    height: 80px;
    cursor: pointer;
    outline: 5px solid yellow;
    z-index: 2; }
    .slideshow_arrows .arrow-left:before {
      content: '\f104';
      font-family: FontAwesome;
      font-size: 36pxpx;
      font-size: 2rem; }
  .slideshow_arrows .arrow-right {
    position: absolute;
    top: 50%;
    right: 10px;
    height: 100%;
    width: 18px;
    height: 80px;
    cursor: pointer;
    z-index: 2; }
    .slideshow_arrows .arrow-right:after {
      content: '\f105';
      font-family: FontAwesome;
      font-size: 36pxpx;
      font-size: 2rem; }

/* END SLIDESHOW */
/* BEGIN welcome */
.welcome {
  width: 100%;
  font-size: 0; }
  .welcome:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

.welcome_info {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 60px;
  width: 50%;
  font-size: 18pxpx;
  font-size: 1rem;
  line-height: 1.5;
  vertical-align: middle; }

.welcome_picture {
  display: inline-block;
  width: 50%;
  height: 600px;
  overflow: hidden;
  vertical-align: middle; }
  .welcome_picture img {
    position: relative;
    top: 50%;
    left: 50%;
    display: block;
    height: 770px;
    width: 1158px;
    margin-left: -579px;
    margin-top: -385px; }

/* END welcome */
.about_picture {
  display: inline-block;
  width: 50%;
  height: 600px;
  overflow: hidden;
  vertical-align: middle; }
  .about_picture img {
    position: relative;
    top: 50%;
    left: 50%;
    display: block;
    height: 770px;
    width: 888px;
    margin-left: -444px;
    margin-top: -385px; }

.about_info {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 60px;
  margin-left: -5px;
  width: 50%;
  font-size: 18pxpx;
  font-size: 1rem;
  line-height: 1.5;
  vertical-align: middle;
  color: #000; }

.catalog {
  font-size: 0; }

.catalog_car {
  position: relative;
  display: inline-block;
  width: 33.33%;
  overflow: hidden; }
  .catalog_car:nth-child(3n+1) {
    margin-left: 0; }
  .catalog_car:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.5s; }

.catalog_car_picture img {
  display: block;
  width: 100%; }

.catalog_car_info {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  font-size: 18pxpx;
  font-size: 1rem;
  transition: all 0.5s;
  z-index: 2; }

.catalog_car_info_price-daily {
  padding-top: 20px;
  font-family: 'Raleway', Helvetica, Arial, sans-serif; }
  .catalog_car_info_price-daily span {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: bold;
    text-decoration: line-through;
    color: #f2462e;
    transition: all 0.5s; }

.catalog_car_info_price-special {
  padding-top: 10px;
  font-family: 'Raleway', Helvetica, Arial, sans-serif; }
  .catalog_car_info_price-special span {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: bold;
    color: #fff; }

.catalog_car_continue {
  position: absolute;
  left: 0;
  bottom: -250px;
  padding: 20px;
  font-size: 21.6pxpx;
  font-size: 1.2rem;
  transition: all 0.5s;
  z-index: 2; }
  .catalog_car_continue a {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff; }
    .catalog_car_continue a:after {
      content: '\f105';
      padding-left: 15px;
      font-family: FontAwesome;
      text-decoration: none; }
    .catalog_car_continue a:hover {
      color: #000; }

.catalog_car:hover:after {
  background: rgba(242, 70, 46, 0.8); }
.catalog_car:hover .catalog_car_info {
  bottom: 40px; }
.catalog_car:hover .catalog_car_info_price-daily span {
  color: #fff; }
.catalog_car:hover .catalog_car_continue {
  bottom: 0; }

.footer {
  width: 100%; }

.footer_contacts {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 60px;
  width: 50%;
  font-size: 18pxpx;
  font-size: 1rem;
  line-height: 2;
  vertical-align: middle;
  outline: 2px dotted blue; }

.footer_contacts_address:before {
  content: '\f041';
  padding-right: 30px;
  font-family: FontAwesome;
  font-size: 28.8pxpx;
  font-size: 1.6rem; }

.footer_contatcs_phone:before {
  content: '\f095';
  padding-right: 30px;
  font-family: FontAwesome;
  font-size: 28.8pxpx;
  font-size: 1.6rem; }

.footer_contatcs_email:before {
  content: '\f0e0';
  padding-right: 30px;
  font-family: FontAwesome;
  font-size: 28.8pxpx;
  font-size: 1.6rem; }

.footer_contatcs_wh:before {
  content: '\f017';
  padding-right: 30px;
  font-family: FontAwesome;
  font-size: 28.8pxpx;
  font-size: 1.6rem; }

.footer_contatcs_sb_icon {
  padding-right: 30px;
  font-family: FontAwesome;
  font-size: 28.8pxpx;
  font-size: 1.6rem;
  cursor: pointer; }
  .footer_contatcs_sb_icon:last-child {
    padding-right: 0; }

.footer_contatcs_sb_fb:before {
  content: '\f09a';
  transition: color 0.5s; }

.footer_contatcs_sb_fb:hover:before {
  color: #00137F; }

.footer_contatcs_sb_tw:before {
  content: '\f099';
  transition: color 0.5s; }

.footer_contatcs_sb_tw:hover:before {
  color: #0094FF; }

.footer_contatcs_sb_g:before {
  content: '\f0d5';
  transition: color 0.5s; }

.footer_contatcs_sb_g:hover:before {
  color: #FF0000; }

.footer-map {
  display: inline-block;
  margin-left: -5px;
  width: 50%; }

/* OTHER STYLES */
.clearfix:after {
  content: '';
  clear: both;
  display: block; }

/* MEDIA QUIERIES */

/*# sourceMappingURL=styles.css.map */
