@charset "UTF-8";
/* VARIABLES */
  $widthMax: 1400px;
  $fontSizeDefault: 18px;

  $colorWhite: #fff;
  $colorBlack: #000;
  $colorBlackTr: rgba(0, 0, 0, 0.3);

  $colorRed: rgba(242, 70, 46, 1.0);
  $colorRedTr: rgba(242, 70, 46, 0.8);

/*MIXINS*/
  @mixin font-size($sizeValue: 1) {
    font-size: ($sizeValue * $fontSizeDefault) + px;
    font-size: $sizeValue + rem;
  }

  @mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
  }
/* FONTS */

/* COMMON STYLES */
  body {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-weight: normal;
    @include font-size(1);
    color: $colorWhite;
    background:$colorBlack;
  }

  a {
    text-decoration: none;
    color: $colorWhite;

    &:hover {
      color: $colorRed;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Subrayada', Helvetica, Arial, serif;
    font-weight: bold;
    text-transform: uppercase;
  }

  h1 {
    @include font-size(3.5);
  }

  h2 {
    @include font-size(2.4);
  }

  h3 {
    @include font-size(1.4);
    font-weight: normal;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  }

  h4 {
    @include font-size(1.2);
    font-weight: normal;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;  }
  h5 {
  }

/* MAIN LAYOUT */
  .wrapper-all {
    width: 100%;
  }

  .wrapper-header-outer {
    width: 100%;
  }

  .wrapper-header-inner {
    width: 100%;
  }

  .wrapper-welcome-outer {
    width: 100%;
    background:$colorRed;
  }

  .wrapper-welcome-inner {
    width: 100%;
    max-width: $widthMax;
    margin: 0 auto;
    //outline: 13px solid green;
  }

  .wrapper-about-outer {
    width: 100%;
    background:$colorWhite;
  }

  .wrapper-about-inner {
    width: 100%;
    max-width: $widthMax;
    margin: 0 auto;
  }

  .wrapper-footer-outer {
    width: 100%;
  }

  .wrapper-footer-inner {
    width: 100%;
    max-width: $widthMax;
    margin: 0 auto;
  }

/* MAIN STYLES */

  .header {
    //position: relative;
    //height: 500px;
    //min-height: 100%;
  }

/* BEGIN top-panel */
  .top-panel {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: $widthMax;
    margin: 0 auto;
    padding: 100px 60px 0;
    outline: 5px solid red;
    z-index: 2;
  }

  .top-panel_logo {
    float: left;
    outline: 2px dashed green;
  }

  .top-panel_logo_title {
    display: table-cell;
    height: 100px;
    vertical-align: middle;

    &:before {
      content: '';
      display: inline-block;
      width: 50px;
      height: 50px;
      margin-right: 20px;
      vertical-align: middle;
      border-radius: 25px;
      background:$colorRed;
    }
  }

  .top-panel_nav {
    float: right;
    outline: 2px dashed green;
  }

  .top-panel_nav_menu {
    display: table-cell;
    height: 100px;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    list-style-type: none;
    outline: 2px solid orange;
  }

  .top-panel_nav_menu_item {
    display: inline-block;
    padding-right: 60px;
    outline: 2px solid blue;
  }

  .top-panel_nav_menu_item:last-child {
    padding-right: 0px;
  }


  .top-panel_nav_menu_item_link {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: $colorWhite;
    transition: color 0.5s;

    &:hover,
    &.active {
      color: $colorRed;
    }
  }

  .top-panel_nav_menu_item_has-submenu {
    position: relative;
    outline: 2px solid maroon;
  }

  .top-panel_nav_menu_item_submenu {
    position: absolute;
    left: 0;
    top: 100%;
    margin: 40px 0 0;
    padding: 20px 0;
    list-style-type: none;
    background:gray;
    outline: 2px solid blue;
  }

  .top-panel_nav_menu_item_submenu_subitem {
    a {
      display: block;
      padding: 15px 40px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
      color: $colorWhite;

      &:hover {
        color: $colorRed;
      }
    }
  }
/* END top-panel */

/* BEGIN SLIDESHOW */
  .slideshow {
    position: absolute;
    width: 100%;
    overflow: hidden;
    // outline: 10px solid blue;
    height: 100%;

    &_banners {
      width: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 1;

      .banner {
        position: relative;
        left: 0px;
        top: 0px;
        display: block;
        width: 100%;
        opacity: 0;
        @include transition(1s opacity);
        //opacity: 20px solid blue;
      }

      .banner_active {
        opacity: 1;
      }
    }

    &_captions {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      //outline: 10px solid red;

      .caption {
        //box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: 0px;
        width: 100%;
        text-align: center;
        opacity: 0;
        @include transition(1s opacity);
        outline: 10px solid green;
      }

      .caption_active {
        opacity: 1;
      }
    }

    &_arrows {
      .arrow-left {
        position: absolute;
        top: 50%;
        left: 10px;
        height: 100%;
        width: 18px;
        height: 80px;
        cursor: pointer;
        outline: 5px solid yellow;
        z-index: 2;

        &:before {
          content: '\f104';
          font-family: FontAwesome;
          @include font-size(2);
        }
      }

      .arrow-right {
        position: absolute;
        top: 50%;
        right: 10px;
        height: 100%;
        width: 18px;
        height: 80px;
        cursor: pointer;
        //outline: 5px solid yellow;
        z-index: 2;

        &:after {
          content: '\f105';
          font-family: FontAwesome;
          @include font-size(2);
        }

      }
    }
  }
/* END SLIDESHOW */

/* BEGIN welcome */
  .welcome {
    // outline: 10px solid lime;
    width: 100%;
    font-size: 0;
    //z-index: 100;
    //margin-top: 300px;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }

  .welcome_info {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 60px;
    width: 50%;
    @include font-size(1);
    line-height: 1.5;
    vertical-align: middle;
    // outline: 2px dotted blue;
  }

  .welcome_picture {
    display: inline-block;
    width: 50%;
    height: 600px;
    overflow: hidden;
    vertical-align: middle;
    // outline: 6px dotted blue;

    img  {
      position: relative;
      top: 50%;
      left: 50%;
      display: block;
      height: 770px;
      width: 1158px;
      margin-left: -579px;
      margin-top: -385px;
      // outline: 4px solid yellow;
    }
  }
/* END welcome */

  .about_picture {
    display: inline-block;
    width: 50%;
    height: 600px;
    overflow: hidden;
    vertical-align: middle;
    // outline: 6px dotted blue;

    img  {
      position: relative;
      top: 50%;
      left: 50%;
      display: block;
      height: 770px;
      width: 888px;
      margin-left: -444px;
      margin-top: -385px;
      // outline: 4px solid yellow;
    }
  }

  .about_info {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 60px;
    margin-left: -5px;
    width: 50%;
    @include font-size(1);
    line-height: 1.5;
    vertical-align: middle;
    color: $colorBlack;
    // outline: 2px dotted blue;
  }

  .catalog {
    font-size: 0;
  }

  .catalog_car {
    position: relative;
    display: inline-block;
    width: 33.33%;
    overflow: hidden;
    //height: 200px;
    //outline: 1px solid green;

    &:nth-child(3n+1) {
      margin-left: 0;
      //outline: 1px solid blue;
    }

    &:after {
      position: absolute;
      left: 0;
      top: 0;
      content: '';
      //display: inline-block;
      width: 100%;
      height: 100%;
      background:$colorBlackTr;
      transition: all 0.5s;
      //outline: 3px solid yellow;
    }
  }

  .catalog_car_picture {
    img {
      display: block;
      width: 100%;
    }
  }

  .catalog_car_info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    //height: 100%;
    padding: 20px;
    @include font-size(1);
    transition: all 0.5s;
    z-index: 2;
    //outline: 2px dotted silver;
  }

  .catalog_car_info_title {
    //@include font-size(1);
    //font-weight: bold;
    //text-decoration: uppercase;
    //padding-bottom: 20px;
  }

  .catalog_car_info_price-daily {
    padding-top: 20px;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;

    span {
      font-family: 'Montserrat', Arial, sans-serif;
      font-weight: bold;
      text-decoration: line-through;
      color: $colorRed;
      transition: all 0.5s;
    }
  }

  .catalog_car_info_price-special {
    padding-top: 10px;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;

    span {
      font-family: 'Montserrat', Arial, sans-serif;
      font-weight: bold;
      color: $colorWhite;
    }
  }

  .catalog_car_continue {
    position: absolute;
    left: 0;
    bottom: -250px;
    padding: 20px;
    //margin-top: 20px;
    @include font-size(1.2);
    transition: all 0.5s;
    z-index: 2;
    //text-decoration: underline;

    a {
      font-family: 'Raleway', Helvetica, Arial, sans-serif;
      font-weight: bold;
      color: $colorWhite;

      &:after {
        content: '\f105';
        padding-left: 15px;
        font-family: FontAwesome;
        text-decoration: none;
      }

      &:hover {
        color: $colorBlack;
      }
    }
  }

  .catalog_car:hover {

    &:after {
      background:$colorRedTr;
    }

    .catalog_car_info {
      bottom: 40px;
    }

    .catalog_car_info_price-daily span {
      color: $colorWhite;
    }
    .catalog_car_continue {
      bottom: 0;
    }
  }


  .footer {
    width: 100%;
  }

  .footer_contacts {
    box-sizing: border-box;
    display: inline-block;
    padding: 0 60px;
    width: 50%;
    @include font-size(1);
    line-height: 2;
    vertical-align: middle;
    outline: 2px dotted blue;
  }

  .footer_contacts_address:before {
    content: '\f041';
    padding-right: 30px;
    font-family: FontAwesome;
    @include font-size(1.6);
  }

  .footer_contatcs_phone:before {
    content: '\f095';
    padding-right: 30px;
    font-family: FontAwesome;
    @include font-size(1.6);
  }

  .footer_contatcs_email:before {
    content: '\f0e0';
    padding-right: 30px;
    font-family: FontAwesome;
    @include font-size(1.6);
  }

  .footer_contatcs_wh:before {
    content: '\f017';
    padding-right: 30px;
    font-family: FontAwesome;
    @include font-size(1.6);
  }

  .footer_contatcs_sb_icon {
    padding-right: 30px;
    font-family: FontAwesome;
    @include font-size(1.6);
    cursor: pointer;

    &:last-child {
      padding-right: 0;
    }
  }

  .footer_contatcs_sb_fb:before {
    content: '\f09a';
    transition: color 0.5s;
  }

  .footer_contatcs_sb_fb:hover:before {
    color: #00137F;
  }

  .footer_contatcs_sb_tw:before {
    content: '\f099';
    transition: color 0.5s;
  }

  .footer_contatcs_sb_tw:hover:before {
    color: #0094FF;
  }

  .footer_contatcs_sb_g:before {
    content: '\f0d5';
    transition: color 0.5s;
  }

  .footer_contatcs_sb_g:hover:before {
    color: #FF0000;
  }

  .footer-map {
    display: inline-block;
    margin-left: -5px;
    width: 50%;
  }


/* OTHER STYLES */
  .clearfix:after {
    content: '';
    clear: both;
    display: block;
  }

/* MEDIA QUIERIES */